#h{
	margin-left:700px;
}
#y{
	margin-top:80px;
}
#n{
	margin-left:40px;
}
#popular{
		margin-left:40px;
}
#trending{
	margin-left:40px;
}
#categories{
	margin-left:40px;
}
#img1{
		width:570px;
		height:280px;
		margin-left:110px;
		margin-top:40px;
}
#bright{
			font-size:30px;
			margin-left:110px;
			font-family:inter;
}
#We{
	 margin-left:330px;
	 margin-top:-120px;
	 color:gray;
}
#readmore{
			margin-left:330px;
			padding:8px;
			width:120px;
			background:#f07330;
			color:white;
			border:1px solid orange;
}
#new{
		background:black;
		border:1px solid gray;
		width:370px;
		height:430px;
		margin-left:700px;
		margin-top:-440px;
		color:white;
}
#neww{
				margin-left:200px;
				color:white;
				font-size:20px;
				margin-left:20px;
				margin-top:20px;
				color:orange;
}
#hydro{
		margin-left:20px;
		margin-top:-10px;
}
#will{
		margin-left:20px;
		margin-top:-20px;
		color:lightgray;
}
#the{
		margin-left:20px;
		margin-top:50px;
}
#what{
		margin-left:20px;
		margin-top:-20px;
		color:lightgray;
}
#is{
		margin-left:20px;
		margin-top:40px;
}
#private{
			margin-left:20px;
			margin-top:-20px;
}
#img2{
		width:100px;
		height:150px;
		margin-left:110px;
		margin-top:40px;
}
#one{
		margin-left:240px;
		color:gray;
		font-size:20px;
		margin-top:-150px;
}
#reviving{
			margin-left:230px;
			margin-top:10px;
}
#happens{
		margin-left:230px;
		color:gray;
}
#img3{
		width:100px;
		height:150px;
		margin-left:450px;
		margin-top:-150px;
}
#two{
		margin-left:580px;
		color:gray;
		font-size:20px;
		margin-top:-150px;
}
#top{
	margin-left:570px;
	margin-top:10px;
}
#our{
	margin-left:570px;
			color:gray;
}
#img4{
		width:100px;
		height:150px;
		margin-left:780px;
		margin-top:-270px;
}
#three{
		margin-left:910px;
		color:gray;
		font-size:20px;
		margin-top:-140px;
}
#growth{
			margin-left:900px;
			margin-top:10px;
}
#how{
		margin-left:900px;
			color:gray;
}
#img0{
		margin-left:100px;
		position:relative;
		top:100px;
		
}
